body {
    background-color: $bg;
    font-family: $overpass-font;
}

nav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;


    .logo {

        font-family: $major-font;
        margin: 14px 0;
        font-size: 32px;
        text-decoration: none;
        color: $text;



        img {
            width: 26px;
            padding-left: 10px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        padding: 4px 24px;
        text-decoration: none;
        width: 65%;
       

        li {

            
            a {
                font-size: 20px;
                text-decoration: none;
                color: $text;
                padding: 2px 6px;
                transition: ease-in-out 0.2s;

                &:hover {
                    background-color: $active;
                }

                img {
                    color: #14464a;
                    width: 14px;
                    padding-left: 5px;
                }

            }
            .active {
                background-color: $active;
            }

        }
    }
}

.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 48px;
        background-color: $text-bg;
        color: $text;
        padding: 0 12px;
    }

    .search {
        width: 50%;
        height: 48px;
        background-color: $text-bg;
        border: 2px solid $text-bg;
        font-size: 48px;
        padding: 14px 32px;
        margin: 53px 0;
        color: $text;
        font-family: $overpass-font;

    
    }
    .search::placeholder {
        color: $text
    }
    .search:focus {
        outline: none !important;
        border: 2px solid $text;
        background-color: $active;
    }
    .movie-container {
        display: flex;
        flex-wrap: wrap;
        width: 98%;

        .movie {
            width: 24%;
            margin: 0 0.5%;
            flex-direction: column;
            display: flex;
            align-items: center;
            opacity: 0.8;
            transition: ease-in-out 0.2s;
            text-decoration: none;

            &:hover {
                opacity: 1;

                h3 {
                    background-color: $text-bg;
                }
            }

            img {
                width: 100%;
            }
            h3 {
                font-size: 14px;
                color: $text;
                padding: 2px 4px;
                transition: ease-in-out 0.2s;
            }
        }
    }
    
}

.movie-id {
    display: flex;
    flex-direction: column;;
    color: $text;
    width: 50%;
    margin: 0 auto 200px auto;
    min-width: 640px;

    h1, h2, h3, p{
        background-color: $text-bg;
        width: fit-content;
        margin: 16px 0;
        padding: 6px 12px;
    }

    img {
        width: 50%;
        margin: 32px auto;
    }
}