
nav {
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;

        padding: 0 24px 0 24px;
        text-decoration: none;
        width: 50%;
        

        li {
            a {
                text-decoration: none;
            }
        }
    }
}

.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 64px;
    }

    .search {
        width: 25%;
        height: 50px;
        border-radius: 5px;
        border: 2px solid gainsboro;
        font-size: 35px;
        padding: 0 24px;
        margin-bottom: 32px;
    }

    .movie-container {
        display: flex;
        flex-wrap: wrap;
        width: 98%;

        .movie {
            width: 24%;
            margin: 0 0.5%;
            flex-direction: column;
            display: flex;
            align-items: center;
            opacity: 0.8;
            transition: ease-in-out 0.2s;

            &:hover {
                opacity: 1;
            }

            img {
                width: 100%;
                // flex: 1 0 auto;
            }
            h3 {
                font-size: 0.9em;
                // display: flex;
                // flex: 1 0 auto;
            }
        }
    }
    
}

.movie-id {
    display: flex;
    flex-direction: column;;
    // justify-content: center;
    // align-items: center;;
    width: 60%;
    margin: 0 auto 200px auto;

    img {
        width: 50%;
        margin: 0 auto;
    }
}
